In [13]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [14]:
## Load the trained model, scalar pickle, onehot 

model=load_model('model.h5')

## Load the encoder and scalar
with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo=pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [15]:
input_data = {
    'CreditScore' : 600,
    'Geography' : 'France',
    'Gender' : 'Male',
    'Age' : 40,
    'Tenure' : 3,
    'Balance' : 60000,
    'NumOfProducts' : 2,
    'HasCrCard' :1,
    'IsActiveMember' : 1,
    'EstimatedSalary' : 50000

}

In [16]:
## One hot encode 'Geography'

geo_encoded = onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()

geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

geo_encoded_df

/Users/malik96/Desktop/GenAI_Batch01/4.ANN_Project/Gen_AI_Class_15/myann_env/lib/python3.10/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [17]:
input_df =pd.DataFrame([input_data])

input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [18]:
## Encode Categorical variables

input_df['Gender'] = label_encoder_gender.transform(input_df['Gender'])

input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [19]:
## concatination one hot encoded

input_df =  pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)

input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [20]:
## Scaling the input data

input_scaled = scaler.transform(input_df)

input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [21]:
# PRedict Churn

prediction = model.predict(input_scaled)

prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 128ms/step

array([[0.07250511]], dtype=float32)

In [22]:
prediction_proba = prediction[0][0]

In [23]:
prediction_proba

0.07250511

In [24]:
if  prediction_proba > 0.5:
    print('The customer is likely to Churn.')
else:
    print('The Customer is not likely to Churn.')

The Customer is not likely to Churn.

1. We have done feature engineering
2. We have trained entire ANN 
3. We got the loss (loss should alwaays be very less)
4. Visualization of loss on TensorBoard
5. Visualized entire diiagrams
6. We worked on various parameters
7. We did the prediction
8. We also saved the pickle files and then  loaded the pickle files.